################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assailant/bin/Debug/net6.0
/Shared/bin/Debug/net6.0
/Shared/obj
/assailant/obj
